body {
    background-color: #221f1f;
}

.site-body--on {
    overflow: hidden;
}

.site-body::-webkit-scrollbar {
    width: 10px;
}

.site-body::-webkit-scrollbar-track {
    background-color: #ffff59;
}

.site-body::-webkit-scrollbar-thumb {
    background-color: #ba2525;
    border-radius: 50px;
}

#search {
    margin-bottom: 70px;
    padding: 30px 0;
    background-color: #AD0C17;
}

/* ? This also version to design for form */
/* .search-box {
    background-color: #AD0C17;
    border-radius: 20px;
    padding: 30px 0;
} */

.search-form,
.search-item-box,
.sort-element-box {
    display: flex;
    align-items: center;
}

.sort-element-box {
    justify-content: space-evenly;
    width: 100%;
    margin: 30px 0;
}

.search-form {
    flex-direction: column;
    width: 100%;
}

.search-item-box {
    width: 600px;
}

.search-input {
    width: 100%;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: 700;
}

.search-btn,
.not-found-btn,
.sort-year-btn,
.sort-category-btn,
.saved-box-close-btn {
    margin-left: 20px;
    padding: 10px 30px;
    font-weight: 700;
    color: #e03737;
    background-color: #ffff59;
    border: none;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

.not-found-films {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    padding: 30px;
    background: linear-gradient(192deg, #ffff59 0%, #e03737 69%);
    border-radius: 10px;
}

.not-found-films-text {
    margin: 0 0 20px 0;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.not-found-btn {
    margin-left: 0;
    padding: 10px 50px;
}

.sorting-item-year {
    display: flex;
    align-items: center;
}

.sort-year-input {
    width: 90px;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 10px;
}

.sort-year-input:nth-child(2) {
    margin: 0 10px;
}

.sort-year-btn {
    margin-left: 0;
    padding: 5px 10px;
}

.saved-box-close-btn {
    margin-left: 0;
    padding: 5px 10px;
}

.movie-category-select,
.sort-movie-select {
    padding: 10px 40px 10px 20px;
    font-weight: 700;
    color: #5d6880;
    background-image: url("./images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center right 15px;
    border-radius: 10px;
    appearance: none;
}

.movie-category-select option,
.sort-movie-select option {
    font-weight: 700;
    color: #ffff59;
    background-color: #221f1f;
}

.movie-category-select::-webkit-scrollbar {
    width: 10px;
}

.movie-category-select::-webkit-scrollbar-track {
    background-color: #ffff59;
}

.movie-category-select::-webkit-scrollbar-thumb {
    background-color: #ba2525;
    border-radius: 50px;
}

.open-saved-btn {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url("./images/bookmark-saved.svg");
    background-size: cover;
}

.main-top-img-box {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
}

.main-top-img {
    width: 100%;
}

.movie-card {
    background-color: transparent;
    border: 2px solid #262020;
    transition: all .5s;
}

.movie-card:hover {
    box-shadow: #ffffff30 0px 10px 20px, #ffffff3b 0px 6px 6px;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 16/9;
}

.js-card-body {
    background-color: #ad0c17b3;
}

.card-title-box {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.card-title-box .card-title-tooltip {
    position: absolute;
    z-index: 1;
    max-width: 320px;
    margin: 0 auto;
    padding: 5px 15px;
    visibility: hidden;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background-color: #000000cc;
    border-radius: 6px;
}

.card-title-box:hover .card-title-tooltip {
    visibility: visible;
}

.card-title {
    width: 100%;
    margin: 0;
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-icons-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-rating,
.movie-calendar,
.movie-duration,
.movie-modal-rating,
.movie-modal-calendar,
.movie-modal-duration,
.saved-item-year,
.saved-item-rating,
.saved-item-hours {
    display: flex;
    align-items: center;
    color: #fff;
}

.movie-rating::before,
.movie-calendar::before,
.movie-duration::before,
.movie-modal-rating::before,
.movie-modal-calendar::before,
.movie-modal-duration::before,
.saved-item-year::before,
.saved-item-rating::before,
.saved-item-hours::before {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    background-image: url("../images/star-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.movie-calendar::before,
.movie-modal-calendar::before,
.saved-item-year::before {
    background-image: url("../images/calendar-icon.png");
}

.movie-duration::before,
.movie-modal-duration::before,
.saved-item-hours::before {
    margin-right: 5px;
    background-image: url("../images/clock-icon.png");
}

.movie-calendar,
.saved-item-year {
    margin-left: 30px;
}

.js-film-genres {
    font-size: 15px;
    color: #dcff41;
}

.card-movie-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.js-card-modal-btn {
    padding: 5px 20px;
    font-weight: 700;
    color: #e03737;
    background-color: #ffff59;
    border-radius: 10px;
    border: none;
    transition: all .5s;
}

.js-card-modal-btn:hover,
.js-card-modal-btn:active {
    background-color: #ffff06;
    color: #ff0000;
}

.saved-list-box {
    background-color: #221F1F;
}

.saved-box-title {
    font-size: 20px;
    color: #dcff41;
    font-weight: 700;
}

.saved-box-close-btn:hover,
.saved-box-close-btn:active {
    color: #e03737;
    background-color: #ffff59;
}

.saved-movie-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.saved-movie-item {
    margin-bottom: 20px;
    background-color: #831119;
}

.saved-movie-item img {
    width: 100%;
}

.saved-movie-info-text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saved-item-info-box {
    display: flex;
    align-items: center;
}

.movie-save-btn {
    width: 25px;
    height: 25px;
    background-image: url("./images/bookmark-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.movie-save-btn--saved {
    background-image: url("./images/bookmark-saved.svg");
}

.saved-item-text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.saved-item-main-text-box {
    padding: 15px 15px 20px 15px;
}

.saved-item-title-box {
    max-width: 280px;
}

.saved-item-title {
    margin: 0;
    font-size: 18px;
    color: #dcff41;
    font-weight: 700;
}

.saved-item-delete-btn {
    width: 25px;
    height: 25px;
    background-image: url("./images/delete-icon.svg");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.saved-item-year {
    color: #fff;
}

.main-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00000080;
    backdrop-filter: blur(50px);
}

.main-modal--on {
    display: flex;
}

.main-modal-box {
    width: 900px;
}

.movie-modal-video-info {
    width: 50%;
}

.js-modal-title {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.movie-modal-card {
    display: flex;
    padding: 30px;
    background-color: #221f1f;
    border: 5px solid #ffff00;
    border-radius: 8px;
}

.modal-iframe {
    border: none;
    aspect-ratio: 16/9;
}

.js-modal-body {
    margin-left: 30px;
}

.js-card-icons-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.card-rating-calendar-box {
    display: flex;
    align-items: center;
}

.movie-modal-calendar {
    margin-left: 50px;
}

.js-film-modal-genres {
    margin: 0 0 20px 0;
    color: #d14141;
}

.card-modal-summary-box {
    min-height: 0;
    max-height: 300px;
    margin-bottom: 30px;
    overflow-y: auto;
}

.card-modal-summary-box::-webkit-scrollbar {
    width: 5px;
}

.card-modal-summary-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
}

.card-modal-summary-box::-webkit-scrollbar-thumb {
    background-color: #d04444;
    border-radius: 50px;
}

.js-card-summary {
    color: #fff;
    margin: 0;
}

.modal-close-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.card-close-btn {
    padding: 5px 30px;
    font-weight: 700;
    color: #f00;
    background-color: #ecec3f;
    border: none;
    border-radius: 10px;
}

@media only screen and (max-width:992px) {
    .main-modal-box {
        width: 800px;
    }
}

@media only screen and (max-width:950px) {
    .main-top-img-box {
        margin: 30px auto;
    }
}

@media only screen and (max-width:830px) {
    .main-modal-box {
        width: 100%;
        max-width: 600px;
        height: 620px;
        margin: 0 auto;
        overflow-y: auto;
    }

    .main-modal-box::-webkit-scrollbar {
        width: 8px;
    }

    .main-modal-box::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #0000004d;
    }

    .main-modal-box::-webkit-scrollbar-thumb {
        background-color: #1cf074;
        border-radius: 50px;
    }

    .movie-modal-card {
        flex-direction: column;
    }

    .js-card-icons-box {
        margin-top: 20px;
    }

    .movie-modal-video-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .modal-iframe {
        max-width: 100%;
        width: 100%;
        aspect-ratio: 16/9;
    }

    .js-modal-body {
        margin-left: 0;
    }
}

@media only screen and (max-width:375px) {
    .movie-modal-calendar {
        margin-left: 20px;
    }
}